<!-- country list -->
<section class="py-5 px-2">
  <div class="overflow-x-auto">
    <table class="table table-zebra max-w-5xl mx-auto">
      <caption>
        Countries
      </caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Icon</th>
          <th>Flag</th>
          <th>Name</th>
          <th>Capital</th>
          <th>Population</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>$icon</td>
          <td>col</td>
          <td>colombia</td>
          <td>bog</td>
          <td>50.000k</td>
        </tr>
      </tbody>
      <!-- <tfoot>
      <tr>
        <td>Total</td>
      </tr>
    </tfoot> -->
    </table>
  </div>
</section>
