<!-- country list -->
<section class="py-5 px-2">
  <div class="overflow-x-auto min-h-52 relative">
    <!--  -->
    @if(isLoading()){
    <app-loader />
    }
    <!--  -->
    <table class="table table-zebra max-w-5xl mx-auto">
      <caption>
        <div class="divider divider-accent text-xl font-bold">
          {{ tableCaption() }}
        </div>
      </caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Icon</th>
          <th>Flag</th>
          <th>Name</th>
          <th>Capital</th>
          <th>Population</th>
        </tr>
      </thead>
      <tbody>
        @if(!isLoading() && !errorMessage() && countries().length > 0 ){
        <!--  -->
        @for (country of countries(); track country.name.common) {
        <tr>
          <td>{{ country.flag }}</td>
          <td>
            <img [src]="country.flags.svg" [alt]="`${country.name.common} fla icon`" class="w-10" />
          </td>
          <td>{{ country.cca2 }}</td>
          <td>{{ country.name.common }}</td>
          <td>{{ country.capital?.[0] ?? 'No capital' }}</td>
          <td>{{ country.population | number }}</td>
          <td><a [routerLink]="['/country', 'by-country', country.cca2]">more</a></td>
        </tr>
        } }
      </tbody>
    </table>
    <!--  -->
    @if (errorString()) {
    <div class="mt-4">
      <app-error-message [errorMessage]="errorString()!" />
    </div>
    }
  </div>
</section>
